<div class="sample-two">
	<h3>Sample Two Directive</h3>
	<div>
		<div class="column-1">
			<label>Angular ES6:</label>
			<p><input type="text" ng-model="vm.input" ng-change="vm.onClassChange(vm.input)"/></p>
		</div>
		<div class="column-2">
			<label>Angular John Papa:</label>
			<p><input type="text" ng-model="vm.papa" ng-change="vm.onPapaChange(vm.papa)"/></p>
		</div>
		<div class="column-3">
			<label>ES6 Only:</label>
			<p><input type="text" ng-model="vm.es6" ng-change="vm.onES6Change(vm.es6)"/></p>
		</div>
	</div>
	<div class="clear-float"></div>
</div>
