@import '../../../scss/styleguide_variables';

// sample-two component
//
// Component files are stored locally, located at:
// client/app/components/component.sampleTwo
//
// Styleguide 4.4
.sample-two {
  padding: 10px;
  background-color: $uidk-background;

  .column-1, .column-2, .column-3 {
    position:relative;
    float: left;
    padding-right: 10px;
    width: 30%;

    input {
      width: 85%;
    }
  }

  .clear-float {
    clear:both;
  }
}
