@import '../../../scss/styleguide_variables';

// Support View
//
// Markup:
// <div style="layout-support"></div>
//
// Styleguide 5.1
.layout-support {
	padding: 20px;

	header {
		border-bottom: 1px solid #7e7e7e;

		.logo {
			width: 124px;
			float: left;
			margin-right: 10px;
		}

		.layout-label {
			position: relative;
			float: left;
			margin-right: 10px;
			line-height: 50px;
		}
	}

	.navbar {
		.nav-links {
			margin-right: 15px;
			line-height: 28px;
		}
	}

	.layout-content-container {
		position: relative;
	}
}
