// navbar component
//
// Component files are stored locally, located at:
// client/app/components/component.navbar
//
// Styleguide 4.2
@import '../../../scss/styleguide_variables';

.navbar {
  padding: 10px;

  .nav-links{
    display: inline-block;

    span {
      color: #F5F5F5; /* lightTextColor */
      font-size: 1rem;
    }
  }

}

