<!--Anything you want to be on every page, place it in this file-->
<div class="layout-home">

    <header>
        <a ui-sref="layoutHome.home">
            <img src="../../../assets/svg/acme_logo.svg" class="logo"/>
        </a>
        <div class="layout-label primary">
            ( layout: home )
        </div>

    </header>
    <div class="clear"></div>

    <navbar></navbar>

    <div class="layout-content-container">

        <hero></hero>

        <div ui-view="content" class="ix-animate" ng-animate-children ng-animate="ix-animate"></div>
    </div>

</div>
