<nav class="navbar">
	<div class="nav-links">
		<span><a ui-sref="layoutHome.home">Home</a></span>
	</div>

	<div class="nav-links">
		<span><a ui-sref="layoutHome.about">About</a></span>
	</div>

	<div class="nav-links">
		<span><a ui-sref="layoutSupport.support">Support</a></span>
	</div>

	<div class="nav-links">
		<span><a ui-sref="layoutHome.shared">Shared Home</a></span>
	</div>

	<div class="nav-links">
		<span><a ui-sref="layoutSupport.shared">Shared Support</a></span>
	</div>

	<div class="nav-links">
		<span><a ui-sref="layoutSupport.contact">Contact</a></span>
	</div>
</nav>
